<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/homeStyles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <!-- first section -->
  <!-- <section class="">
    <div class="">
      <h1>For the love of reading </h1>

      <div class="">
        <label>Already a user?</label>
        <a class="btn btn-primary" href="/login">Login</a>

      </div>

      <div>
        <label>Not a user?Join us</label>
        <a class="btn btn-primary" href="/register">Register</a>
      </div>



    </div> -->
  <div class="jumbotron">
    <h1 class="display-4">For the love of reading</h1>
    <p class="lead">Get access to a host of millions of blog</p>
    <hr class="my-4">
    <div class="row">
      <div class="register" style="padding-left: 40px;padding-right: 40px;">
        <p>Not a user?</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
      </div>
      <div class="login" style="padding-left: 40px;padding-right: 40px;">
        <p>Already a user?</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>


    </p>
  </div>

  <!-- features section -->
  <section id="features">
    <div class="row">
      <div class="column col-4 features">
        <h1>Huge data</h1>
        <p>Hosts millions of blogs</p>
      </div>

      <div class="column col-4 features">
        <h1>Friendly</h1>
        <p>Easy to access, and view</p>
      </div>

      <div class="column col-4 features">
        <h1>Secure</h1>
        <p>safely encrypted, to keep your content secure</p>
      </div>
    </div>



  </section>
  <hr class="my-4">
  </div>
  </section>




</body>

</html>
