<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Your Blog</title>
  <link rel="stylesheet" href="/css/userPageStyles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">YourBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <h1><%= usersName%></h1> -->
  <!-- <form action="/userPage" method="post"> -->

  <!-- <h1>Compose</h1> -->
  <!-- <div class="form-group">
      <label>Enter your User Name here</label>
      <input type="text" name="name">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label>Post</label>
      <textarea name="postBody" type="text" class="form-control" rows="5" cols="30"></textarea>
      <button class="btn btn-lg btn-primary" type="submit" name="button">Publish</button>

    </div>

  </form>
 -->


  <div class="jumbotron">
    <h1 class="display-4"><%= usersName%></h1>
    <p class="lead">Have a nice time bloggin!!</p>
    <hr class="my-4">
    <!-- idhar hai bootstrap wala -->
    <form action="/userPage" method="post">
      <h1>Compose <small>(kindly relogin to view your post after composing)</small>
      </h1>
      <div class="form-group">
        <label for="exampleFormControlInput1">Enter your username</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Username">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Title of your post</label>
        <input type="text" name="postTitle" class="form-control" id="exampleInputPassword1" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Enjoy writing your post!</label>
        <textarea class="form-control" type="text" name="postBody" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <button class="btn btn-lg btn-primary" type="submit" name="button">Publish</button>
    </form>




  </div>






  <!-- view blogs -->
  <% users.forEach(function(user){ %>
  <% if(user.name===usersName){ %>
  <% user.blogs.forEach(function(post){ %>

  <div class="jumbotron jumbotron-fluid" style="width:70%;margin-left:15%">
    <div class="container">
      <h1 class="display-4"><%=post.title%></h1>
      <p class="lead"><%=post.post%></p>
    </div>
  </div>

  <% });%>

  <% } %>
  <% }); %>


  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> -->

</body>

</html>
